coverage.out

# Binaries for programs and plugins
/bin
*.exe
*.exe~
*.dll
*.so
*.dylib
*.wav

# Dependency directories (remove the comment below to include it)
vendor/
testfile/

# IDEs directories
.idea
.vscode